# Force Gradle/AGP to use qemu-wrapped aapt2 from a clean SDK.
android.aapt2FromMavenOverride=/root/AndroidClean/build-tools/35.0.0/aapt2

# Typical generated Tauri Android settings.
android.useAndroidX=true
android.nonTransitiveRClass=true
android.nonFinalResIds=false